@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    *{
        @apply font-jost
    }

    nav{
        @apply bg-white z-10
    }
    nav ul{
        @apply flex items-center gap-10
    }
    nav ul li {
        @apply hover:font-semibold
    }

    h1{
        @apply text-7xl
    }

    h2{
        @apply text-4xl
    }
    p {
        @apply text-lg
    }
    ol{
        @apply list-decimal
    }
    ol>li{
        @apply ms-4
    }

    pre{
        @apply overflow-auto bg-transparent whitespace-pre-wrap text-justify font-jost text-lg
    }
    /* =====================Admin====================== */

    .admin *{
        @apply font-poppins
    }
}

@layer components{
    .btn-primary{
        @apply bg-primary-500 text-white px-4 py-2 font-bold cursor-pointer rounded hover:shadow-lg
    }
    .btn-primary:disabled{
        @apply bg-gray-300 text-gray-100 cursor-default rounded
    }

    .btn-secondary{
        @apply bg-white text-primary-500 px-4 py-2 font-bold rounded hover:shadow-lg
    }
    .btn-secondary:disabled{
        @apply bg-gray-300 text-white rounded
    }
    
    .card{
        @apply bg-gray-100 border-primary-500 rounded-md hover:shadow-lg
    }

    /* =====================Admin====================== */

    .admin .sidebar{
        @apply border-2 border-primary-500 rounded-lg p-1 w-full
    }
    .admin .sidebar a{
        @apply p-3 rounded-md text-sky-950 text-base font-medium mb-1 transition-all flex gap-2 items-center no-underline
    }
    .admin .sidebar a .iconify{
        @apply scale-125
    }
    .admin .sidebar a:hover{
        @apply bg-primary-500 bg-opacity-50 text-white
    }
    .admin .sidebar a.active{
        @apply bg-primary-500 text-white
    }

    .payment-modal{
        @apply w-full h-screen bg-gray-500 z-30 fixed top-0 bg-opacity-50 backdrop-blur-sm items-center justify-center;
    }
    .payment-modal .modal-content{
        animation: fadeInFromBottom 0.3s;
    }

    .pray-schedule{
        @apply flex flex-col items-center bg-white text-primary-500 p-8 justify-center basis-1/5 rounded-md 
    }

    .fadeIn-animation{
        animation: fadeInFromRight 0.3s;
    }

    .fadeInLeft-animation{
        animation: fadeInFromLeft 0.8s;
    }

    .fadeInRight-animation{
        animation: fadeInFromRight 0.8s;
    }

    .fadeInBottom-animation{
        animation: fadeInFromBottom 0.8s;
        animation-fill-mode: forwards;
    }

}

@layer utilities{
    .text-stroke {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: white;
      }
}

@keyframes fadeInFromBottom {
  0% { opacity: 0; transform: translateY(30px);}
  100% { opacity: 1; transform: translateY(0px);}
}

@keyframes fadeInFromRight {
  0% { opacity: 0; transform: translateX(250px);}
  100% { opacity: 1; transform: translateX(0px);}
}

@keyframes fadeInFromLeft {
    0% { opacity: 0; transform: translateX(-250px);}
    100% { opacity: 1; transform: translateX(0px);}
  }